<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ /**
  ~  * Created by Jeremy James on 6/16/20 10:35 AM
  ~  * Copyright (c) 2020 . All rights reserved.
  ~  * Last modified 5/18/20 12:45 PM
  ~  */
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xyz.james.auth">

    <application>
        <activity android:name=".AuthActivity">

        </activity>
    </application>

</manifest>